.blog-preview-area {
    background-color: white;
    box-shadow: 1px 1px 2px lightgray;
    border-radius: 4px;
    margin: 10px;
    padding: 1px;
}

.blog-preview-title {
    font-size: 18px;
    margin: 5px;
    padding-left: 2px;
    border-left: 5px solid #e7e9e7;
    border-bottom: 1px solid rgba(128, 64, 0, 0.5);
}

.blog-preview-title a {
    color: #044672;
    text-decoration: none;
}

.blog-preview-title:hover {
    color: #3498db;
    border-left: 5px solid #3498db;
}

.blog-preview-title a:hover{
    color: #3498db;
}

.blog-preview-paragraph {
    font-size: 16px;
    text-indent: 1em;
    padding-left: 5px;
}

.blog-preview-time-stamp {
    display: block;
    width: auto;
    color: #018ba3;
    font-size: 14px;
    padding-right: 15px;
    text-align: right;
}