body {
    font-family: Arial, sans-serif;
    min-width: 640px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-size: 2em;
    font: bold;
    text-align: center;
    color: #216335;
}

a {
    color: #3498db;
    text-decoration: underline;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main_area {
    flex: 3;
    background-color: #e7e9e7;
    height: calc(100vh-60px);
    overflow: hidden;
}

.blog-preview-area {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 1px;
}

.blog-preview-title {
    font-size: 18px;
    margin: 5px;
    padding-left: 2px;
    border-left: 5px solid rgba(114, 210, 248, 0.5);
    border-bottom: 1px solid rgba(128, 64, 0, 0.5);
}

.blog-preview-title:hover {
    color: #3498db;
    border-left: 5px solid rgba(9, 183, 252, 0.5);
}

.blog-preview-paragraph {
    font-size: 16px;
    text-indent: 1em;
    padding-left: 5px;
}

.blog-preview-time-stamp {
    display: block;
    width: auto;
    color: #018ba3;
    font-size: 14px;
    padding-right: 15px;
    text-align: right;
}

.side_bar {
    flex: 1;
    background-color: #e0dbc5;
    height: calc(100vh-60px);
    overflow: hidden;
}

.side-bar-title{
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid grey;
}